Django==5.2.12
djangorestframework==3.14.0
requests==2.31.0

gunicorn==20.1.0
django-cors-headers==3.13.0

python-dotenv==1.2.2

yfinance==1.2.0
yahoo-fin==0.8.9.1

pandas==2.2.2
numpy==1.26.4

pdf2image==1.17.0
Pillow==11.0.0

pytest==7.3.1
pytest-django==4.5.2